.clearfix:before,.clearfix:after, .grid:before, .grid:after {content: " ";display: table;}
.clearfix:after { clear: both; }
.hide { display:none; }
input[type="text"], select { padding: 5px; width: 100%; }
ul { list-style-type: none; padding: 0 10px; }
.vulntitle { color: #FF0000; margin-left: 10px; }
.menushade { margin-bottom: 10px; }
.filename { text-decoration: none; font-weight: normal; }
.codebox { margin-bottom:0px; }
.plusico { height: 12px; }
.userinput, .persistent { margin-top: 5px; }
.code li { margin-top:10px; }
.link { color: #000088; font-weight: bold; text-decoration: none; }
.userinput, .persistent { list-style-type: none; }
td.before-vulntitle { padding:5px 0; }
.fileico, .minusico, .plusico, .exploit, .help, .hotpatch, .dataleak { margin: 4px 2px; }
.buttonbox { margin-top:0px; }
.stats { right:80px; }
.iconbox { position: absolute; right: 0; width: 50px; margin-right: 20px; }
.clickable { cursor:pointer; }

#stats .button { text-align: center; width: 20px; height: 22px; margin-top: -7px; margin-right: -2px; }
#window2 .closebutton { text-align: center; width: 20px; height: 22px; margin-top: -4px; margin-right: -18px; }
#window1 .closebutton { text-align: center; width: 20px; height: 22px; margin-top: -4px; margin-right: -18px; }
#windowcontent1 { width: 1080px; }

#tabs { margin: 0 20px 10px; padding: 0;     display: inline-flex; font-size:80%; font-weight:bold; color:#666; }
#tabs li { display: inline; background: #aaa; margin: 0 5px 0 0; padding: 5px 10px 5px; border-top: 2px solid #aaa; cursor:pointer; }
#tabs li.active { background: #fff; border-top: 2px solid #f90; color:#333; }


.filebox { border: 1px solid #333; padding: 10px; background-color: #ccc; margin-bottom: 20px; }
.filebox .filename { margin: 0 0 10px 5px; display: block; font-size: 80%; }
.codebox { background:#FFF9E7; }
.codebox:nth-child(even) { background:#F8F2E0; }
.phps-t-function { color:#004080; }
.phps-t-variable { color:#000080; }
.link { color:#800080; }

#tab-files { border:1px solid #333; margin: 0 20px; background-color: #ccc; padding:0 10px 15px; }
#tab-files ul { border:1px solid #333; margin: 10px 0; padding:0; }
#tab-files li { margin:0; padding:10px; background:#FFF9E7; }
#tab-files li:nth-child(even) { background:#F8F2E0; }
#tab-files li a { text-decoration:none; color :#333; }
#tab-files span.count { color:#900; width:45px; display: inline-block; text-align:right; margin-right:10px; }
#tab-files span.item { margin-left:55px; display: block; margin-top:3px; color:#888; }

#tab-issues { border:1px solid #333; margin: 0 20px; background-color: #ccc; padding:0 10px 15px; }
#tab-issues ul { border:1px solid #333; margin: 10px 0; padding:0; }
#tab-issues li { margin:0; padding:10px; background:#FFF9E7; }
#tab-issues li:nth-child(even) { background:#F8F2E0; }
#tab-issues li a { text-decoration:none; color :#333; }
#tab-issues span.count { color:#900; width:45px; display: inline-block; text-align:right; margin-right:10px; }
#tab-issues span.item { margin-left:55px; display: block; margin-top:3px; color:#888; }


.tab-content p.intro { font-size:80%; margin: 10px 5px 0; }