.clearfix:before,.clearfix:after, .grid:before, .grid:after {content: " ";display: table;}
.clearfix:after { clear: both; }
.hide { display:none; }
input[type="text"], select { padding: 5px; width: 100%; }
ul { list-style-type: none; padding: 0 10px; }
.vulntitle { color: #FF0000; margin-left: 10px; }
.menushade { margin-bottom: 10px; }
.filename { text-decoration: none; font-weight: normal; }
.codebox { margin-bottom:0px; }
.plusico { height: 12px; }
.userinput, .persistent { margin-top: 5px; }
.code li { margin-top:10px; }
.link { color: #000088; font-weight: bold; text-decoration: none; }
.userinput, .persistent { list-style-type: none; }
td.before-vulntitle { padding:5px 0; }
.fileico, .minusico, .plusico, .exploit, .help, .hotpatch, .dataleak { margin: 4px 2px; }
.buttonbox { margin-top:0px; }
.stats { right:80px; }
.iconbox { position: absolute; right: 0; width: 50px; margin-right: 20px; }
.clickable { cursor:pointer; }
#funccode { display:none !important; }

#stats .button { text-align: center; width: 20px; height: 22px; margin-top: -7px; margin-right: -2px; }
#window2 .closebutton { text-align: center; width: 20px; height: 22px; margin-top: -4px; margin-right: -18px; }
#window1 .closebutton { text-align: center; width: 20px; height: 22px; margin-top: -4px; margin-right: -18px; }
#windowcontent1 { width: 1080px; }

#tabs { margin: 0 20px 10px; padding: 0;     display: inline-flex; font-size:80%; font-weight:bold; color:#666; }
#tabs li { display: inline; background: #aaa; margin: 0 5px 0 0; padding: 5px 10px 5px; border-top: 2px solid #aaa; cursor:pointer; }
#tabs li.active { background: #fff; border-top: 2px solid #f90; color:#333; }


.filebox { border: 1px solid #333; padding: 10px; background-color: #ccc; margin-bottom: 20px; }
.filebox .filename { margin: 0 0 10px 5px; display: block; font-size: 80%; }
.codebox { background:#FFF9E7; }
.codebox:nth-child(even) { background:#F8F2E0; }
.phps-t-function { color:#004080; }
.phps-t-variable, .phps-tainted-var, .phps-t-if, .phps-t-empty { color:#000080; }
.phps-t-string { text-decoration: none !important; }

.link { color:#000; }

#tab-files { border:1px solid #333; margin: 0 20px; background-color: #ccc; padding:0 10px 15px; }
#tab-files ul { border:1px solid #333; margin: 10px 0; padding:0; }
#tab-files li { margin:0; padding:10px; background:#FFF9E7; }
#tab-files li:nth-child(even) { background:#F8F2E0; }
#tab-files li a { text-decoration:none; color :#333; }
#tab-files span.count { color:#900; width:45px; display: inline-block; text-align:right; margin-right:10px; }
#tab-files span.item { margin-left:55px; display: block; margin-top:3px; color:#888; }

#tab-issues { border:1px solid #333; margin: 0 20px; background-color: #ccc; padding:0 10px 15px; }
#tab-issues ul { border:1px solid #333; margin: 10px 0; padding:0; }
#tab-issues li { margin:0; padding:10px; background:#FFF9E7; }
#tab-issues li:nth-child(even) { background:#F8F2E0; }
#tab-issues li a { text-decoration:none; color :#333; }
#tab-issues span.count { color:#900; width:45px; display: inline-block; text-align:right; margin-right:10px; }
#tab-issues span.item { margin-left:55px; display: block; margin-top:3px; color:#888; }


.tab-content p.intro { font-size:80%; margin: 10px 5px 0; }






/* html5doctor.com Reset v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/) - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/* Webcodesniffer */
body {width:780px;margin:0px auto 10px auto;padding:0px;font-family:arial;font-size:13px;}

a {text-decoration:none;}

a.link {font-size:11px;color:gray;background-color:#EFEFEF;padding:1px 8px 1px 8px;margin:0px 0px 0px 0px;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
a.link:hover {color:white;background-color:#333333;border:1px solid #333333;}

.top_left {float:left;width:300px;padding:5px 0px 0px 0px;margin:0px 0px 0px 0px;}
.top_center {float:left;width:180px;padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;text-align:center;color:silver;font-size:10px;}
.top_center img {vertical-align:text-top;}
.top_right {float:left;width:300px;padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;}


.infobulle_notification_on {float:right;display:block;margin:4px 0px 0px 0px;padding:0px;}
.infobulle_notification_on a.info{position:relative;z-index:24;margin:0px 0px 0px 0px;padding:0px 8px 0px 8px;text-align:center;color:white;font-size:11px;font-weight:bold;font-weight:bold;background-color:#BF0B0B;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.infobulle_notification_on a.info span{display:block;position:absolute;top:0px;right:17px;width:200px;padding:5px 5px 5px 5px;background-color:#BF0B0B;color:white;font-size:11px;font-weight:normal;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}

.infobulle_notification_off {float:right;display:block;margin:4px 0px 0px 0px;padding:0px;}
.infobulle_notification_off a.info{position:relative;z-index:24;margin:0px 0px 0px 0px;padding:0px 8px 0px 8px;text-align:left;color:gray;font-size:11px;font-weight:bold;font-weight:bold;background-color:#EFEFEF;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.infobulle_notification_off a.info:hover{z-index:25;background-color:#EFEFEF;color:gray;}
.infobulle_notification_off a.info span{display:none;}
.infobulle_notification_off a.info:hover span{display:block;position:absolute;top:0px;right:17px;width:200px;line-height:18px;padding:5px 10px 5px 10px;background-color:#EFEFEF;color:gray;font-size:11px;font-weight:normal;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}

.infopath {clear:both;margin:20px 0px 30px 0px;color:gray;padding:2px 0px 2px 25px;background-image:url(../img/folder_link.png);background-repeat:no-repeat;background-position:0px 0px;}

.entry_row_dir {clear:both;margin:4px 0px 4px 0px;padding:0px 0px 0px 20px;background-image:url(../img/folder_stand.png);background-repeat:no-repeat;background-position:4px 0px;}
.entry_row_filetosniff {clear:both;margin:0px 0px 4px 0px;padding:4px 4px 4px 20px;background-color:white;background-image:url(../img/page_white_code.png);background-repeat:no-repeat;background-position:4px 5px;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.entry_row_filetosniff:hover {background-color:#f0f0f0;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.entry_row_file_generic {clear:both;margin:0px 0px 4px 0px;padding:4px 4px 4px 20px;background-color:white;background-image:url(../img/page_white.png);background-repeat:no-repeat;background-position:3px 4px;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.entry_row_file_generic:hover {background-color:#f0f0f0;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.entry_row_file_picture {clear:both;margin:0px 0px 4px 0px;padding:4px 4px 4px 20px;background-color:white;background-image:url(../img/picture.png);background-repeat:no-repeat;background-position:3px 4px;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.entry_row_file_picture:hover {background-color:#f0f0f0;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}

.entry_name {float:left;width:200px;padding:2px 0px 0px 8px;}
.entry_commandline {float:right;width:300px;text-align:right;}

.submit_back {padding:3px 6px 3px 5px;margin:0px 0px 10px 0px;background-color:#f3f3f3;border:1px solid #DDDDDD;-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.submit_back:hover {background-color:#DDDDDD;border:1px solid #CFCFCF;}

.submit_folder {background-color:white;border:1px solid white;cursor:pointer;padding:0px 4px 0px 4px;margin:0px 0px 0px 2px;}
.submit_folder:hover {background-color:#ECE9D8;border:1px solid silver;padding:0px 4px 0px 4px;margin:0px 0px 0px 2px;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}

.standard {color:gray;position:relative;top:2px;padding:0px 0px 0px 0px;margin:0px 0px 0px 20px;}
select {font-size:11px;background-color:#EFEFEF;border:1px solid silver;cursor:pointer;padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.submit_sniff {font-size:11px;color:white;background-color:#A5B24B;font-weight:bold;border:1px solid #A5B24B;cursor:pointer;padding:1px 4px 1px 4px;margin:0px 0px 0px 2px;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}

.infobulle {position:relative;top:28px;left:-14px;padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;}
.infobulle a.info{position:relative;z-index:24;margin:0px 2px 0px 0px;padding:0px 2px 0px 2px;text-align:center;color:#CFCFCF;font-size:11px;font-weight:bold;background-color:#EEEEEE;text-decoration:none;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.infobulle a.info:hover{z-index:25;background-color:#FBD825;color:#895902;}
.infobulle a.info span{display:none;}
.infobulle a.info:hover span{display:block;position:absolute;top:0px;left:8px;width:312px;line-height:18px;text-align:left;padding:8px 8px 8px 15px;background-color:#FBD825;color:#895902;font-size:13px;font-weight:normal;-moz-border-radius:3px;-khtml-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}

.report_header {text-align:center;padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;}
.report {padding:20px 20px 20px 60px;margin:10px 0px 10px 0px;background-color:#f0f0f0;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
#dmscanning .report_summary { background-color:#888;}

.footer {font-size:11px;text-align:center;padding:2px 5px 2px 5px;margin:40px 0px -2px 0px;color:white;background-color:#333333;border:1px solid #333333;-moz-border-radius: 2px;-khtml-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.footer a {color:silver;}
.footer a:hover {color:white;}

.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.hide { display:none; }
a.folder_link { padding: 2px 0px 0px 8px; color:#000; font-weight:bold; float:left; }
a.file_link { padding: 2px 0px 0px 0px; color:#000; float:left; }
.entry_row_dir { height:18px; padding:4px 4px 4px 20px; background-position: 3px 5px; }
.entry_row_file_generic, .entry_row_file_picture { display:none; }
.form_row { margin:10px 0; }

.entry_row_holder { background:#f0f0f0; padding:10px 20px; }

.entry_row_dir:hover {background-color:#f0f0f0;-moz-border-radius:2px;-khtml-border-radius:2px;-webkit-border-radius:2px;border-radius:2px;}
.entry_row_filetosniff { background-color:#e8e8e8; }
.entry_row_filetosniff:nth-child(even) { background-color:#f0f0f0; }
.entry_name { width: 400px; }
.entry_history { width:200px; float:right; text-align:right;}

.entry_history span { padding: 3px 7px 3px 8px; border-radius: 3px; margin:0 0 0 2px; min-width:24px; display:inline-block; text-align:center;}
.entry_history .error { background:#c30; color:#fff; }
.entry_history .warning { background:#fc0; }
.entry_history .out-of-date { background:#fc0; min-width:65px; }
.entry_history .not-tested { background:#eee; color:#bbb; min-width:65px; }
.entry_history .all-good { background:#7C4; color:#5A2; min-width:65px; }
.entry_history .error.none, .entry_history .warning.none { background:#380; color:#fff; }

.infopath { background-position: 4px 8px; background-color:#38D; padding: 10px 30px; color:#fff; font-family:monospace; }
pre { word-wrap: break-word; line-height: 24px; }

.submit_sniff { background-color: #c30; border: 1px solid #c30; }

.report_summary { background:#c30; color:#fff; padding:10px 0; margin:10px 0 10px 0;}
.report_summary.clean { background:#380; }
.report_filename { background:#aaa; color:#333; height: 24px; padding: 10px; margin: 0 0 0px 0;}
.report_filename p {line-height:24px; float:left; }
.report { padding: 20px 20px 20px 20px; width:890px; }
.sniff-refresh { margin:0; float:right; }

.header-back-btn { float:right; }
.infopath { margin:10px 0 15px; }
.infopath p { float:left; line-height:20px; }
.infopath .submit_back { margin:0; }



body { width:930px; }

.line-number { background: #ccc; padding: 3px 7px 3px 8px; border-radius: 3px; cursor:pointer; }
.line-number.error { background:#c30; color:#fff; }
.line-number.warning { background:#fc0; }



/*  NEW  */
.filebox { border: 0; padding:10px 20px; margin:0px; background:#f0f0f0;}
.filebox div .vulnblock { background:#666; border:0; color:#fff; padding:5px 0; margin: 10px 0 10px 0; }
.filebox div .vulnblock .minusico {display:none;}
.filebox div .vulnblock .vulnblocktitle { margin:0; }

.filebox div div .vulnblock { background:inherit; padding:0; margin:0; margin-bottom: 0px;}
.filebox div div .vulnblock .codebox { background: inherit; }
.filebox div div .vulnblock .codebox table { width: 100%; }
.filebox div div .vulnblock .codebox .vulntitle { display:none; }
.filebox div div .vulnblock .codebox li { width:100%; display:inline-block; line-height:30px; padding:0 5px; zborder-top:1px solid #ccc; overflow-wrap: break-word; max-width: 880px; }
.filebox div div .vulnblock .codebox li li { padding:0; }
.filebox div div .vulnblock .codebox li li li { }
.filebox div div .vulnblock .code li { margin:0; } 
td.before-vulntitle { padding:0; }
.userinput { margin:0; }
.filebox div div .vulnblock .codebox li.lirequires { border:0; }
.filebox .buttonbox { display:none; }

.linenr { color: #c00; }